.boxForm {
    text-align: center;
}

#newBoxButton {
    background-color: rgba(105, 233, 255, 0.808);
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    font-weight: 700;
}

.label {
    font-family: Verdana;
}